@-webkit-keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes wrap2_float {
  from {
    -webkit-transform: translate(-50%, 2%);
  }
  50% {
    -webkit-transform: translate(-50%, 0%);
  }
  to {
    -webkit-transform: translate(-52%, -2%);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate1 {
  from {
    -webkit-transform: rotate(-4deg);
  }
  to {
    -webkit-transform: rotate(4deg);
  }
}
@-webkit-keyframes online-move {
  from {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(5px);
  }
}
@-webkit-keyframes playmusic {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes zhuan {
  from {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
@-webkit-keyframes animation_s_bg {
  from {
    -webkit-transform: translate(-3px, -3px);
  }
  to {
    -webkit-transform: translate(3px, 3px);
  }
}
@-webkit-keyframes animation_light {
  from {
    -webkit-transform: scaleX(0) translateX(-10px);
    opacity: 0;
  }
  50% {
    -webkit-transform: scaleX(0.5) translateX(-10px);
    opacity: .5;
  }
  75% {
    -webkit-transform: scaleX(1) translateX(50px);
    opacity: .7;
  }
  to {
    -webkit-transform: scaleX(1.5) translateX(0px);
    opacity: 1;
  }
}
