@-webkit-keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes wrap2_float {
  from {
    -webkit-transform: translate(-50%, 2%);
  }
  50% {
    -webkit-transform: translate(-50%, 0%);
  }
  to {
    -webkit-transform: translate(-52%, -2%);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate1 {
  from {
    -webkit-transform: rotate(-4deg);
  }
  to {
    -webkit-transform: rotate(4deg);
  }
}
@-webkit-keyframes online-move {
  from {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(5px);
  }
}
@-webkit-keyframes playmusic {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes zhuan {
  from {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
@-webkit-keyframes animation_s_bg {
  from {
    -webkit-transform: translate(-3px, -3px);
  }
  to {
    -webkit-transform: translate(3px, 3px);
  }
}
@-webkit-keyframes animation_light {
  from {
    -webkit-transform: scaleX(0) translateX(-10px);
    opacity: 0;
  }
  50% {
    -webkit-transform: scaleX(0.5) translateX(-10px);
    opacity: .5;
  }
  75% {
    -webkit-transform: scaleX(1) translateX(50px);
    opacity: .7;
  }
  to {
    -webkit-transform: scaleX(1.5) translateX(0px);
    opacity: 1;
  }
}
.landscape {
  font-style: italic;
  display: none;
  height: 100%;
}
@media screen and (orientation: landscape) {
  .landscape {
    height: 100%;
    display: block;
    background-color: #404040;
  }
  .container {
    display: none;
  }
  .music-box {
    display: none;
  }
  .landscape .iphone {
    background-image: url('../images/move_phone.png');
    background-repeat: no-repeat;
    width: 68px;
    height: 115px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -54px;
    margin-left: -36px;
    background-size: 68px 115px;
    animation: zhuan 1.5s;
    -moz-animation: zhuan 1.5s;
    -webkit-animation: zhuan 1.5s;
    -o-animation: zhuan 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 0.3s;
  }
  .landscape .iphone_text {
    width: 200px;
    height: 29px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 71px;
    margin-left: -100px;
    color: #fff;
  }
}
body,
html {
  width: 100%;
  height: 100%;
  text-decoration: none;
  margin: 0;
  padding: 0;
  background: url("../images/bg.jpg") #000000 no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: 'Microsoft YaHei', arial, sans-serif;
  overflow: hidden;
  overflow-x: no;
  list-style-type: none;
}
img {
  width: 100%;
}
/*音乐样式*/
.music-show {
  display: none;
  height: 30px;
  opacity: 0;
  position: fixed;
}
.music-box {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 999;
  width: 25px;
  height: 25px;
  border: solid 1px #FFFFFF;
  border-radius: 15px;
}
.music-box img {
  width: 15px;
  position: absolute;
  top: 5px;
  left: 4px;
}
.music-box.active {
  -webkit-animation: playmusic 2s linear infinite;
}
/*main*/
.part {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.loading {
  display: block;
}
.loading img {
  margin-top: 10%;
}
.loading p {
  text-align: center;
}
.loading #jqmeter-container {
  width: 70%;
  margin: 60% 15% 5% 15%;
}
.part1 {
  display: none;
  background: url("../images/p1-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.part1 .bgif {
  position: absolute;
  top: 20%;
}
.part1 .wrap1 {
  position: relative;
  width: 100%;
  height: 26%;
  margin-top: 12%;
  opacity: 0;
  -webkit-animation: opa 1s  linear forwards;
}
.part1 .wrap1 .title {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 34%;
}
.part1 .wrap1 .s_bg {
  position: absolute;
  width: 100%;
  top: 0%;
}
.part1 .wrap1 .s_bg1 {
  -webkit-animation: animation_s_bg 1s linear infinite alternate both;
}
.part1 .wrap1 .s_bg2 {
  -webkit-animation: animation_s_bg 1s .5s linear infinite alternate both;
}
.part1 .wrap1 .s_bg3 {
  -webkit-animation: animation_s_bg .8s 1s linear infinite alternate both;
}
.part1 .wrap1 .s_bg4 {
  -webkit-animation: animation_s_bg .8s .6s linear infinite alternate both;
}
.part1 .wrap1 .light {
  position: absolute;
  top: -10%;
  left: -24%;
  opacity: 0;
  -webkit-animation: animation_light 1.5s 0.5s forwards;
}
.part1 p {
  margin-top: 10%;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2px;
  opacity: 0;
  -webkit-animation: opa 1s  .6s linear forwards;
}
.part1 p span {
  font-size: 18px;
}
.part1 p:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 26px;
  background: url("../images/p1-wenhao.png") no-repeat;
  background-size: 100%;
}
.part1 ul {
  margin: 0;
  padding: 0;
  margin-top: 16%;
  -webkit-transform: translate(8%, 0);
  opacity: 0;
  -webkit-animation: opa 1s  .6s linear forwards;
}
.part1 ul li {
  width: 26%;
  margin-right: 4%;
  box-sizing: border-box;
  list-style: none;
  display: inline-block;
}
.part1 ul li a {
  display: block;
  width: 100%;
  background: url("../images/p1-dibiao.png") no-repeat;
  background-size: 12px auto;
  background-position: 3px center;
}
.part1 ul li a h3 {
  margin: 0 18px;
  font-size: 15px;
  border-bottom: 1px #ffffff solid;
  line-height: 31px;
  text-align: center;
}
.part2 {
  display: none;
  opacity: 0;
  -webkit-animation: opa 1s linear forwards;
}
.part2 .wrap2 {
  width: 100%;
  padding-bottom: 300px;
  position: relative;
  margin-top: 20%;
  max-width: 340px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -webkit-transform-origin: 15% 50%;
}
.part2 .wrap2.wrap2_float {
  -webkit-animation: wrap2_float 10s infinite alternate both;
}
.part2 .wrap2 .world {
  position: absolute;
  width: 85%;
  left: 6%;
}
.part2 .wrap2 .world.rotate {
  -webkit-animation: rotate 200s linear infinite both;
}
.part2 .wrap2 .phone1 {
  position: absolute;
  width: 8%;
  left: 7%;
}
.part2 .wrap2 .zuobiao1 {
  position: absolute;
  width: 5%;
  left: 16%;
  top: 10%;
}
.part2 .wrap2 .zuobiao2 {
  position: absolute;
  width: 5%;
  left: 68%;
  top: 71%;
}
.part2 .wrap2 .city {
  width: 26%;
  right: 3%;
  bottom: 12%;
  height: 15%;
  background: url("../images/p2-america.png") no-repeat;
  position: absolute;
  background-size: contain;
  opacity: .5;
}
.part2 .wrap2 .yuandian1 {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 17%;
  top: 19%;
  background: #ffffff;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: opa 0.3s linear forwards;
}
.part2 .wrap2 .wifi1 {
  position: absolute;
  width: 12%;
  left: 19%;
  top: 37%;
  opacity: 1;
}
.part2 .wrap2 .wifi2 {
  position: absolute;
  width: 12%;
  left: 64%;
  top: 29%;
  opacity: 1;
}
.part2 .wrap2 .yuandian2 {
  position: absolute;
  width: 8px;
  height: 8px;
  right: 28%;
  bottom: 31%;
  background: #ffffff;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: opa 0.1s 1.95s linear forwards;
}
.part2 .wrap2 .xian {
  border-bottom: 2px dashed #ffffff;
  position: absolute;
  height: 1px;
}
.part2 .wrap2 .xian.xian1 {
  width: 17%;
  left: 12.5%;
  top: 29%;
  -webkit-transform: rotate(73deg);
  opacity: 0;
  -webkit-animation: opa 0.5s 0.2s linear forwards;
}
.part2 .wrap2 .xian.xian2 {
  width: 39%;
  top: 39%;
  left: 28%;
  -webkit-transform: rotate(-12deg);
  opacity: 0;
  -webkit-animation: opa 0.5s 1s linear forwards;
}
.part2 .wrap2 .xian.xian3 {
  width: 24%;
  left: 58.5%;
  top: 53%;
  -webkit-transform: rotate(89deg);
  opacity: 0;
  -webkit-animation: opa 0.5s 1.7s linear forwards;
}
.part2 .wrap2 .component {
  display: none;
}
.part2 .wrap3 {
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
  border-radius: 10px;
  border: dashed 2px #ffffff;
  position: relative;
  box-sizing: border-box;
  opacity: 0;
  -webkit-animation: opa 1s  .5s linear forwards;
}
.part2 .wrap3 p {
  font-size: 15px;
  margin: 5% 10px;
  line-height: 24px;
}
.part2 .wrap3 .online.online-move {
  -webkit-animation: online-move 0.5s linear infinite alternate both;
}
.part2 .wrap3 .phone2 {
  width: 20%;
  height: 90%;
  position: absolute;
  right: 10%;
  top: 5%;
  background: url("../images/p2-iphone.png") no-repeat;
  background-position: center;
  background-size: contain;
}
.part2 .wrap3 .phone2.rotate1 {
  -webkit-animation: rotate1 0.2s linear infinite alternate both;
}
.part3 {
  display: none;
  text-align: center;
  opacity: 0;
  -webkit-animation: opa 1s .2s linear forwards;
}
.part3 .box {
  height: 16%;
  width: 100%;
}
.part3 p {
  letter-spacing: 2px;
  font-size: 12px;
  line-height: 24px;
  margin: 2% 0 0 0;
}
.part3 p span {
  font-size: 18px;
}
.part3 .text {
  display: none;
}
.part3 img {
  width: 42%;
  margin-top: 5%;
  display: block;
  margin-left: 29%;
}
.part3 .wxsharebtn {
  margin-top: 5%;
  font-size: 15px;
  line-height: 46px;
  display: inline-block;
  padding: 0 30px;
  background: url("../images/btn.png") no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.part3 .understandbtn {
  margin-top: 10%;
  font-size: 15px;
  line-height: 46px;
  display: block;
  width: 48%;
  margin-left: 26%;
  background: url("../images/btn.png") no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.part3 .sharebtn {
  margin-top: 8%;
  font-size: 15px;
  line-height: 46px;
  display: block;
  width: 48%;
  margin-left: 26%;
  background: url("../images/btn.png") no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.mask {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8) url("../images/fenxiang.png") no-repeat;
  background-size: 168px 160.5px;
  background-position: top right;
}
