.part1 .wrap1 {
  margin-top: 5%;
}
.part1 ul {
  margin-top: 10%;
}
.part2 .wrap2 {
  margin-top: 5%;
}
.part2 .wrap3 {
  margin-top: -1%;
}
.part3 .box {
  height: 8%;
}
.part3 .wxsharebtn {
  margin-top: 6%;
}
