.part1 .light {
  left: 7%;
}
.part1 .title {
  width: 76%;
  left: 14%;
}
.part1 .person {
  width: 86%;
  left: 8%;
}
.part1 .text {
  width: 94%;
  left: 3%;
}
.part4 .part4_top {
  width: 90%;
  margin-left: 5%;
}
.part4 .p4_box {
  width: 94%;
  left: 3%;
  margin-top: 0;
}
