html {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}
body {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #333333;
  background-color: white;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
svg:not(:root) {
  overflow: hidden;
}
a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #0088cc;
}
a:active {
  outline: 0;
}
a:active {
  color: #006699;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  vertical-align: middle;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
  margin: 0;
}
ul,
ol,
li,
dl,
dd {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none outside none;
}
h1,
h2,
h3 {
  line-height: 2;
  font-weight: normal;
}
h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #cccccc;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cccccc;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cccccc;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* 常用 */
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.hide {
  display: none;
}
.pr {
  position: relative;
}
.flex-container {
  display: -webkit-flex;
  display: flex;
}
#shareContainer {
  display: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 5000;
}
#shareContainer img {
  display: block;
  position: absolute;
}
@-webkit-keyframes topCloudShake {
  from {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(-10px);
    opacity: 0.7;
  }
}
.topCloudShake {
  animation: topCloudShake 5s ease;
  -webkit-animation: topCloudShake 5s linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
#topCloud {
  z-index: 1000;
  height: 13%;
  top: 0%;
  left: 0%;
  opacity: 0;
}
.topCloud {
  opacity: 0;
  -webkit-animation: animation_opa2 3s ease-out forwards;
}
@-webkit-keyframes jokerScale {
  from {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
  }
  to {
    -webkit-transform: scale(1);
  }
}
.jokerScale {
  -webkit-animation: jokerScale 1s ease;
}
@-webkit-keyframes jokerShake {
  from {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
.jokerShake {
  -webkit-transform-origin: center bottom;
  -webkit-animation: jokerShake 2s linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
}
#joker {
  width: 35%;
  top: 10%;
  left: 34%;
}
#bazinga {
  top: 48%;
  left: 25%;
  width: 50%;
}
#para {
  position: absolute;
  width: 75%;
  height: 40%;
  top: 58%;
  left: 12.5%;
  color: #595757;
  font-size: 14px;
}
#share {
  width: 50%;
  height: 43px;
  line-height: 43px;
  color: #ffffff;
  background-color: #f571aa;
  position: absolute;
  top: 82%;
  left: 25%;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 20px;
  z-index: 2000;
}
.shareOnCover {
  background-color: #7b7b7b !important;
}
@-webkit-keyframes downCloudShake {
  from {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(10px);
    opacity: 0.7;
  }
}
.downCloudShake {
  -webkit-animation: downCloudShake 5s linear;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
}
#downCloud {
  z-index: 1000;
  height: 15%;
  bottom: 0%;
  right: 0%;
  opacity: 0;
}
.downCloud {
  -webkit-animation: animation_opa2 3s ease-out forwards;
}
@media screen and (max-width: 320px) {
  #joker {
    width: 26%;
    left: 37%;
  }
  #bazinga {
    width: 42%;
    top: 43%;
    left: 29%;
  }
  #para {
    font-size: 12px;
    top: 52%;
  }
  #share {
    top: 80%;
  }
}
/*ip5 */
@media screen and (max-width: 320px) and (min-height: 479px) {
  #para {
    top: 55%;
  }
  #joker {
    width: 32%;
    left: 34%;
  }
  #bazinga {
    top: 44%;
  }
}
.bazinga {
  opacity: 0;
}
.bazinga.on-active {
  -webkit-animation: animation_opa 3s ease-out 1.2s forwards;
}
.para {
  opacity: 0;
}
.para.on-active {
  -webkit-animation: animation_opa 2s ease-out 1.4s forwards;
}
.share {
  opacity: 0;
}
.share.on-active {
  -webkit-animation: animation_opa 3s ease-out 1.6s forwards;
}
